tracking:
  debug: true
  save_log: true
  fps: 30

  kalman:
    process_var: 1e6
    measure_var: 200
    p0: 1000.0

  matching:
    alpha: 0.8
    chi2_gating: 9.21
    greedy_threshold: 2.8
    greedy_reset_threshold: 1.0
    large_cost: 880.0

    w_motion: 3.0
    w_app: 10.0

  tracker:
    max_age: 25
    min_hits: 10
    reset_g_threshold: 0.4
