seed: 42

data:
  image_size: [ 128, 128 ]
  to_rgb: true


  train_roots:
    - datasets/fight_1_1/train
    - datasets/fight_1_2/train
    - datasets/fight_2_1/train

  val_roots:
    - datasets/fight_val_1/train


model:
  backbone: "mobilenetv3small"
  embedding_dim: 128
  dropout: 0.1
  l2_reg: 0.0
  train_backbone: true

training:
  batch_size: 64
  learning_rate: 0.0003
  epochs: 20
  margin: 1.0
  save_dir: "artifacts/models/apperance_cnn"
  save_name: "apperance_encoder.keras"
