seed: 42

data:
  train_root: "/home/bohdan/Документи/Samples/Images/boxing_tracker/fight_1/round_1_train/appearance_embedding"
  val_root: "/home/bohdan/Документи/Samples/Images/boxing_tracker/fight_1/round_1_test/appearance_embedding"
  image_size: [128, 128]
  to_rgb: true   # true якщо твої кропи BGR з OpenCV

model:
  backbone: "mobilenetv3small"
  embedding_dim: 128
  dropout: 0.1
  l2_reg: 0.0
  train_backbone: true

training:
  batch_size: 64
  learning_rate: 0.0003
  epochs: 20
  margin: 1.0
  save_dir: "artifacts/models/apperance_cnn"
  save_name: "apperance_encoder.keras"
